<h1>Events</h1>

<% if @events.empty? %>
    <p>No events yet</p>
<% else %>
    <ul>
        <% @events.each do |event| %>
            <li><h3><%= event.title %> by <%= event.creator.name %></h3> <p><%= link_to "See more", event %></p></li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Add an event", new_event_path%>